extends layout

block head 
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href='stylesheets/index.css')
    
block content

    script.
        initialLocationsData="#{initialLocationsData}"
        user="#{user}"
    script(src="javascripts/index.js")   
    
    div(class="container")
        nav(class="navbar navbar-default")
            div(class="navbar-brand") Nightlife Coordination App
            div(class="navbar-brand pull-right") 
                #user
                    if user
                        div Welcome #{user}
                        a(href="/auth/logout" class="pull-right") Logout
                    else
                        a(href="/auth/github" title="Log in using Github") Please log in 
                            i(class="fa fa-github")
                        
        div(class="logo")
            <i class="fa fa-map-marker"></i>
            <i class="fa fa-glass"></i>
        
        div(class="input-container shadow")
            input(id="pac-input" class="controls" type="text" placeholder="Search Box")
            p Enter a location to search for bars, and see how many other people are going!
            if !user
                p Log in to let everyone else see where you're going
        div(id="no-results")
        div(id="map")
        div(class="row")
            ul(id="results" class="col-xs-12")
        
        
        
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}&libraries=places"></script>